.background {
  position: relative;
  height: 100vh;
  max-width: none;
    width: 100vw;
  background-image: url("./../../assets/vector_arboles2.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1; 
}

.hero__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
  gap: 2rem;
  margin: 4rem 0;
}

.hero-buttons__wrapper {
  display: flex;
  gap: 1rem;
}

.hero__wrapper.hero-vector > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
