.background {
  height: calc(100vh - 5.3rem);               /* altura igual al viewport */
  width: 100vw;                 /* ancho igual al viewport */
  background-image: url("./../../assets/vector_arboles2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  align-items: center;
  z-index: -1;                  /* solo si usas capas superpuestas */
}


.hero__section {
  /* margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin-bottom: 10rem;
}

.hero-buttons__wrapper {
  display: flex;
  gap: 1rem;
}

.hero__wrapper.hero-vector > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-viewport {
  height: 100vh;
}

/* what is */

.what-is__section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: firebrick;
}

.what-is__wrapper {
    max-width: 80rem;
  
}
